.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}


li a {
    float: left;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: deepskyblue;
}

h3.subtext {
    margin-bottom: 0;
}

h5.subtext {
    margin-top: .5em;
}

h4 {
    text-align: center;
}

h1.abouth {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.textcontainer {
    padding: 2% 2% 2% 2%;
    background-color: lightgray;
    overflow:hidden;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}